<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <title>Formulário de Vinho</title>
    <style>
        body {
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
        }

        h1 {
            color: #781e5b; /* Cor da Sogrape */
            text-align: center;
        }

        form {
            background-color: #fff;
            max-width: 400px;
            margin: 0 auto;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        }

        label {
            display: block;
            margin-top: 10px;
            color: #333;
        }

        input[type="text"],
        input[type="number"] {
            width: 95%;
            padding: 2.6%;
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 3px;
        }

        button {
            border-color: #781e5b;
            background-color: #781e5b; /* Cor da Sogrape */
            color: #fff;
            border: none;
            padding: 10px 20px;
            margin-top: 15px;
            border-radius: 3px;
            cursor: pointer;
        }

        button:hover {  
            background-color: #630149; /* Cor mais escura da Sogrape para hover */
        }
    </style>
</head>
<body>
    <div class="top-bar-container" style="background-image: url('/images/wine-background.jpeg');background-size: cover;background-position: center;">
        <div class="topbar">
            <div class="logo-left">
                <img src="/images/sogrape-logo.svg" alt="Sogrape-logo" style="">
            </div>
            <h1 style="padding: 10px; font-size: 90px; text-align: center; font-family: 'Montserrat', sans-serif;">Sogrape Dashboard</h1>
            <div class="logo-right">
                <img src="/images/logo-42.svg" alt="42 Porto">
            </div>
        </div>
        <div class="button-bar">
            <a href="/" class="button">Dashboard</a>
            <a href="/addProduto" class="button active">Adicionar Produto</a>
            <a href="/removeProduto" class="button">Remover Produto</a>
        </div>
    </div>
    <h1>Adicionar produto</h1>
    <form action="/submit" method="POST">
        <label for="nomeVinho">Nome do Vinho:</label>
        <input type="text" id="nomeVinho" name="nomeVinho" required>

        <label for="capacidade">Capacidade (ml):</label>
        <input type="number" id="capacidade" name="capacidade" required>

        <label for="ean">EAN:</label>
        <input type="text" id="ean" name="ean" required>

        <label for="marca">Marca:</label>
        <input type="text" id="marca" name="marca" required>

        <label for="submarca">Submarca:</label>
        <input type="text" id="submarca" name="submarca" required>

        <button type="submit">Enviar</button>
    </form>
</body>
</html>
